body {
    font-family: "Muli", sans-serif;
    background-color: rgb(235, 235, 247);
}

.all {
    border: 4px solid greenyellow;
    display: flex;
    flex-direction: row;

    margin: 50px 30px 0 30px;
    /* width: 100%; */
    /* overflow: auto; */

}


.container {
background-color: white;
margin: 20px;
border: 2px solid rgb(229, 226, 226);
border-radius:3%;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
display: flex;
width: 80px;
height: 450px;
flex-direction: column;
align-items: center;
}

.mail {
    margin: 30px;
    width: 30px;
    height: 30px;
}

.github {
    margin: 30px;
    width: 30px;
    height: 30px;
}

.slack {
    margin: 30px;
    width: 30px;
    height: 30px;
}

.telegram {
    margin: 30px;
    width: 30px;
    height: 30px;
}

.whatsapp {
    margin: 30px;
    width: 30px;
    height: 30px;
}
svg {
fill: rgb(196, 195, 195);
}


svg:hover {
font-size:large;
fill:black;
width: 40px;
height: 40px;
}

img {
    width:100%;
    height: 100%;
    
    object-fit: cover;
    border-radius: 5%;	
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
}

.foto {
    background-color: white;
    border: 2px solid red;
    width: 600px;  
    width: 400x;
    margin: 15px;
    border-radius: 5%;	
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 600px;
  
}


.header {
    background-color: cornsilk;
    text-align: center;
   
}

h1 {
    font-size: 30px;
}
.info {
    border: 2px solid green;
    display: flex;
  justify-content: center;

}


li {
    list-style-type: none; 

   }

.personal_info {
    background-color: burlywood;
    margin: 15px;
    width: 250px;
}

.btn {
    margin: 20px;
    background-color: rgb(46, 201, 149);
    border: none;
    border-radius: 3%;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;

  }

  .btn:hover {
    background-color: rgb(156, 245, 215);
  }

.personal_i {
    border: 3px solid blueviolet;
    margin: 15px;
    border-radius: 5%;	
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width:1000px;
    background-color: white;
    text-align: center;
}

.start {
    box-sizing: border-box;
    border: 3px solid hotpink;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 600px;
    overflow: scroll;
 
}

.resume {
    border: 1px solid darkred;
    display: flex;

}

 .first {
    border: 1px solid springgreen;
    display: flex;
} 

.skills {
    border: 1px solid salmon;
}

.experience {
    border: 1px dotted dodgerblue;
} 